{% extends 'base.html.twig' %}

{% block title %}NumeroZipcode index{% endblock %}

{% block body %}
    <h1>NumeroZipcode index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Numero</th>
                <th>Zipcode</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for numero_zipcode in numero_zipcodes %}
            <tr>
                <td>{{ numero_zipcode.id }}</td>
                <td>{{ numero_zipcode.numero }}</td>
                <td>{{ numero_zipcode.zipcode }}</td>
                <td>
                    <a href="{{ path('app_numero_zipcode_show', {'id': numero_zipcode.id}) }}">show</a>
                    <a href="{{ path('app_numero_zipcode_edit', {'id': numero_zipcode.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_numero_zipcode_new') }}">Create new</a>
{% endblock %}
